{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">A space for me to try a few different hints and tips I find on the internet.</p>

    {{ govukButton({
      text: "Start latest prototype",
      href: "/" + "current" + "/drink-choice"
    }) }}

    <h2 class="govuk-heading-l">
      Stuff I've played with
    </h2>

    <h3 class="govuk-heading-m">
      Vicky Teinaki blogs
    </h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        <a class="govuk-link" href="https://www.vickyteinaki.com/blog/more-efficient-prototyping-with-the-gov-uk-prototype-kit-step-by-step/">More efficient prototyping (updated January 2024) by Vicky Teinaki</a> (Which includes versioning, templating, macros)
      </li>
    </ul>

    <h3 class="govuk-heading-m">
      Other plugins
    </h3>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>
        <a class="govuk-link" href="https://github.com/abbott567/radio-button-redirect?ref=vickyteinaki.com">Craig Abbott's easy radio-button-redirect</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
